.content_general {
  min-width: 100%;
  margin-top: 150px;
}
.caja__trasera {
  width: 100%;
}
.caja__trasera-login {
  backdrop-filter: blur(10px);
  background-color: rgba(17, 19, 22, 0.5);
  color: white;
  border-radius: 3%;
  transition: all 500ms;
  padding: 90px 80px 0px 0px;
  margin: auto;
  text-align: right;
  height: 350px;
  width: 900px;
}
.caja__trasera div p,
.caja__trasera div button {
  margin-top: 30px;
}
.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}
.caja__trasera button:hover {
  background: #fff;
  color: #13161a;
}
.contenedor__login {
  width: 500px;
  position: relative;
  top: -400px;
  left: 200px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: moveForm 0.2s linear;
}
@keyframes moveForm {
  from {
    left: 700px;
    opacity: 0.7;
  }
  to {
    left: 100px;
  }
}
.contenedor__login form {
  max-width: 500px;
  padding: 80px 50px;
  background: #fff;
  border-radius: 20px;
}
.contenedor__login form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
.contenedor__login form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  outline: none;
}
.contenedor__login form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  background: #0b0b0c;
  color: white;
  cursor: pointer;
  outline: none;
}
.iniciar_sesion {
  margin: 50px 0 0 0;
  float: right;
  display: none;
}
/*--------------------------------------------------------*/
/* MSM LLENA TODOS LOS CAMPOS */
/*--------------------------------------------------------*/
.mostrar {
  display: block;
}
#cont_msm_llenar_campso,
#cont_msm_no_usuario,
#cont_msm_pass_incorrect {
  background: rgb(255, 69, 69);
  color: white;
  animation: entrada 0.4s linear;
  padding: 10px;
  z-index: 3;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.msm_llenar_campso,
.msm_no_usuario {
  display: none;
}
.msm_llenar_campso {
  color: black;
}
@keyframes entrada {
  from {
    left: 0px;
  }
  to {
    left: 0px;
  }
}
/*--------------------------------------------------------*/
/* MSM LLENA TODOS LOS CAMPOS */
/*--------------------------------------------------------*/
@media (max-width: 1300px) {
  .content_general {
    padding: 100px 0 200px 0;
    margin: 0;
  }
  .caja__trasera {
    display: none;
  }
  .contenedor__login {
    width: 100%;
    position: initial;
    padding: 0px;
  }
  .contenedor__login form {
    position: initial;
    max-width: 500px;
    margin: auto;
    top: 200px;
    height: auto;
    padding: 80px 20px;
    text-align: center;
  }
  .iniciar_sesion {
    float: none;
    display: block;
  }

  #msm_llenar_campso,
  #msm_no_usuario {
    background: rgb(255, 69, 69);
    color: white;
    animation: entrada 0.4s linear;
    padding: 10px;
    z-index: 3;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  }
  .msm_llenar_campso,
  .msm_no_usuario {
    display: none;
  }
  .msm_llenar_campso {
    color: black;
  }
  @keyframes entrada {
    from {
      left: 100px;
    }
    to {
      left: 0px;
    }
  }
}
